@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>Selamat datang di website penempatan kerja karyawan !</p>
    <p>Untuk melanjutkan silahkan pilih tab pada menu diatas !</p>

</div>
